<br>
<div>

<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
        <p style="color:#FF0000";><%= message %></p>
    <% end %>
    </ul>
<% end %>

    <%= form_for @user do |f| %>

        <%= f.text_field :name, "size" => 30, :placeholder => :name %><br>
    <br>
        <%= f.text_field :username, "size" => 30, :placeholder => :username %><br>

    <br>
        <%= f.email_field :email, "size" => 30, :placeholder => :email %><br>

    <br>
        <%= f.password_field :password, "size" => 30, :placeholder => :password %>
    <br></br>
        <%= submit_tag("Create User", :style => "width: 100px; background-color: #c49102;") %>
    <% end %>

</div>