<br></br>
show page<br>
oooooohhhhhh we made it here!!!!

<h2> Hello <%= @user.name %> </h2> 

<%= link_to "See All Events", events_path %>
<br>
<%= link_to "Create New Event", new_user_event_path(@user) %>

<br></br>
<%# raise.params %>
- -<br>
<h5>Click <%= link_to "Here", user_events_path(@user) %> To See Events You're Going To</h5>
                        <%# byebug %>
                            <%# @user.events.each do |event| %>
                                <%# byebug %>
                                <%#= link_to event.title, event_path(event) %> -
                                <%# ed = event.date %>
                                <%#= ed.strftime("%m/%d/%Y") %> -
                                <%# et = event.time %>
                                <%#= et.strftime("%I:%M %p") %>
                                <br>
                            <%# end %>

<br>
<h5>Events You Have Created:</h5>
<%# byebug %>
    <% if @user.users_events.where(admin: true) %>
        <% @user.users_events.where(admin: true).each do |event| %>
            <%# byebug %>
            <%= link_to Event.all.find(event.event_id).title, event_path(event.event_id) %> -
            <% ed = Event.all.find(event.event_id).date %>
            <%= ed.strftime("%m/%d/%Y") %>
            <%# et = Event.all.find(event.event_id).time %>
            <%#= et.strftime("%I:%M %p") %>
            <br>        
        <% end %>
    <% end %>

 




<br></br>
<br></br>
<p> You're logged in as: <%= link_to current_user.username, user_path(current_user) %><br>
<%= link_to "Log Out", logout_path %></p><br> 