<br>
<div>
<br></br>
<br></br>
<br></br>
<% if @event.errors.any? %>
    <ul>
    <% @event.errors.full_messages.each do |message| %>
        <p style="color:#FF0000";><%= message %></p>
    <% end %>
    </ul>
<% end %>


    <%= form_for @event do |f| %>
        
        <%= f.label "Title:" %><br>
        <%= f.text_field :title , "size" => 30 %>
        <br></br>
        <%= f.label "Category:" %><br>
        <%= f.select :category, options_for_select( sj_categories, " "), include_blank: "Select One" %>
        <br></br>
        <%= f.label "Address:" %><br>
        <%= f.text_field :address , "size" => 30 %>
        <br>
        <%= f.label :city%>
        <%= f.text_field :city %>
        <%= f.label :state%>
        <%= f.select :state, options_for_select(us_states, " ") %>
        <%= f.label :zip %>
        <%= f.text_field :zip, "size" => 5 %>
        <br></br>

        <%= f.label :date %>
        <%= f.date_field :date %>
        <%= f.label :time %>
        <%= f.time_field :time %>
        <br></br>

        <%= f.label "Event Info:" %><br>
        <%= f.text_area :about_content, cols: "50", rows: "10" %>
        <br></br>

        <%= f.submit(:style => "width: 150px; background-color: #DA674A;") %>

        <% end %>
