<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="users.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
</head>

<body>
    <div>
        <br>
        <div>
            <%if @user %>
                <div>
                    <%#= @user.name || @user.username %> 
                    <h1 class="animate__animated animate__fadeIn" style="color:#FFFFFF";>RSVP'd</h1>
                    <h3 class="animate__animated animate__fadeIn" style="color:#FFFFFF";>Upcoming Events</h3><br>
                </div>
                <br>
                <div>
                    <% if @events.empty? %>
                        <p><%= "You haven't signed up for any events yet!" %><p><br>
                        <p style="color: #ffffff;"><%= "We can help you find events in your state." %> <p>
                        <%= render 'statesearch' %>
                    <% end %>
                    <br>
                </div>

            <% else %>

                <div>
                    <br>
                    <% if flash[:message] %>
                    <p style="color:#FF0000";><%= flash[:message] %></p>
                    <% end %>
                </div>

                <div>
                    <h1 class="animate__animated animate__backInUp" style="color:#FFFFFF";>Upcoming Events</h1>
                    <%= link_to "Create New Event", new_event_path %>
                    <%= render 'searchform' %>
                    <br>
                </div>

            <% end %>
        </div>
<br>
        <div>
            <% @events.each do |event| %>
                <% ed = event.date %>
                <%= ed.strftime("%m/%d/%Y") %> -
                <% if @user %>
                    <%= link_to event.title, user_event_path(@user, event) %> -
                <% else %>
                    <%= link_to event.title, event_path(event) %> -
                <% end %>
                
                <%= event.category %>
                <br>
            <% end %>
        </div>

    </div>
</body>
<br></br>
<br></br>







