<br></br>

<div class="container">

    <h1><%= @event.title %></h1>
    <br>
        <%= @event.category %>
        <br>
        <%= @event.address %>
        <br>
        <%= @event.city %> <%= @event.state %>,  <%= @event.zip %>
        <br>
        <%= @event.date.strftime("%B %e, %Y") %> - <%= @event.time %>
        <br></br>
        Event Summary:
        <li><%= @event.about_content %></li>
        <br>
</div>

<div>
    Comments: <br>
        <% @event.users_events.each do |ue| %>
            <%# byebug %>
        <%= link_to ue.user.name || ue.user.username, user_path(ue.user_id) %> said
        <%= ue.comment %><br>
        <% end %>
</div>  

<br></br>
<div>
    Share your comments: 
    <br></br>
    
    <%= form_for @event.users_events.build do |f| %>
        <%= f.label "Comment" %><br>
        <%= f.text_area :comment %><br>
        <br></br>
        <%= f.submit "Submit Comment" %>
    <% end %> 
</div>

<br></br>
<%= link_to "Edit Event", edit_event_path %>
<br>
<%= link_to "All Events", events_path %>

<br></br>
<br></br>
<p> You're logged in as: <%= link_to current_user.username, user_path(current_user) %><br>
<%= link_to "Log Out", logout_path %></p><br> 




