<br></br>

<div class="container">

    <h1><%= @event.title %></h1>
    <br>
        <%= @event.category %>
        <br>
        <%= @event.address %>
        <br>
        <%= @event.city %> <%= @event.state %>,  <%= @event.zip %>
        <br>
        <%= @event.date.strftime("%B %e, %Y") %> - 
        <% et = @event.time %>
        <%= et.strftime("%I:%M %p") %>
        <br></br>
        Event Summary:
        <li><%= @event.about_content %></li>
        <br>
</div>

<div>
    RSVP's: <br>

        <% @event.users_events.each do |ue| %>
            <%# byebug %>
        <%= ue.user.name || ue.user.username %> said:
        <%= ue.comment %><br>
        <% end %>
</div>  

<br></br>
<div>
    Sign Up For Event with a Comment:
    <br></br>
    
    <%= form_for UsersEvent.new do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.label "Comment" %><br>
        <%= f.text_area :comment %><br>
        <br></br>
        <%= f.submit "RSVP for event" %>
    <% end %> 
</div>

<br></br>
<%= link_to "Edit Event", edit_event_path %>
<br>
<%= link_to "All Events", events_path %>

<br></br>
<br></br>
<p> You're logged in as: <%= link_to current_user.username, user_path(current_user) %><br>
<%= link_to "Log Out", logout_path %></p><br> 




