<!DOCTYPE html>
<html>
  <head>
    <title>SocialJusticeEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <center>
      
      <%= render 'layouts/navbar' %>

      <%= yield %>

      <br></br>
      <br></br>

      <footer>
        <%= render 'layouts/footer' %>

        <div>
          <p>©2020 ChangeMakers</p>
          <br></br>
        </div>

      </footer>
      
    </center>
  </body>
    
</html>


